
@{
    ViewBag.Title = "Successfully Order";
}

<head>
    <style>
        body {
            background-color: #009472;
        }
    </style>
</head>
<body>
<div>
    <label class="label-warning"><h4>Your order has been placed successfully. Please click @Html.ActionLink("Here", "Index", "Home") to go to homepage.</h4> </label> 
    
</div>
</body>

